entrypoint = "main.py"
modules = ["python-3.10:v20-20230824-f46249a"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"
packages = ["freetype", "glibcLocales"]

[deployment]
run = "python3 main.py"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 10000
externalPort = 80

[agent]
expertMode = true
